* {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 200px;
  object-fit: contain;
}

main {
  margin: auto;
  margin-top: 2%;
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 0fr));
  grid-gap: 10px;
  align-content: center;
  justify-items: center;
}

div {
    margin: auto;
    clip-path: circle(50%);
  }

input[type="number"] {
    width: 50px;
}
  
footer {
  text-align: center;
}

#pogas {
  text-align: center;
}

/*Div'u variācijas*/
.normal {
  background-color: 	#B3B3B3;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  font-size: 1.5em;
  border-radius: 4px;
}

.fizz {
  background-color: #572c6d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  font-size: 1.5em;
  border-radius: 4px;
}

.buzz {
  background-color: #AA55D4;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  font-size: 1.5em;
  border-radius: 4px;
}

.fizzbuzz {
  background-color: #2b1736;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  font-size: 1.4em;
  border-radius: 4px;
}
